@charset "UTF-8";
/* CSS Document */

#loginPane {
	float:left;
	width:30%;
	padding-left:25px;
	padding-right:18px;	
	background-color:#F7A11A;
	border: 1px solid black;
	padding-top:52px;
	padding-bottom:53px;
	color:black;
}

#infoPane {
	float:left;
	width:60%;
	padding-right:20px;
	padding-left:12.5px;
	background-color:#fabf64;
	border: 1px solid black;
	color:black;
}


label {
	display:inline-block;
	float:left;
	clear:left;
	width:75px;
	text-align:left;
}

input {
	display: inline-block;
	float: left;
}

#LogIn {
	margin-left:47px;
	margin-top:5px;
}

#register {
	margin-top:5px;
}

#guest {
	margin-top:2px;
	margin-left:48px;
}

#content {
	padding: 0 0 0 0;
}

.divider2 {
	margin-top: 295px;
}

p {
	padding-left: 8px;
}
