@charset "UTF-8";
/* CSS Document */

#loginPane {
	float:left;
	width:30%;
	padding-left:25px;
	padding-right:12.5px;
}

#infoPane {
	float:left;
	width:60%;
	padding-right:20px;
	padding-left:12.5px;
}
