@charset "UTF-8";
/* CSS Document */

label {
	display:inline-block;
	float:left;
	clear:left;
	width:135px;
	padding-top:3px;
	text-align:left;
}

input {
	display: inline-block;
	float: left;
}

select {
	display: inline-block;
	float:left;
}