@charset "UTF-8";
/* CSS Document */

/* CSS Specific to Build Taco Page */

#ingredients {
	width:250px;
	padding-left:0px;
	padding-right:5px;
	float:left;
}

#preview {
	width:250px;
	padding-left:5px;
	padding-right:5px;
	float:left;
}

#order {
	background-color:brown;
	width:260px;
	padding-left:5px;
	padding-right:0px;
	float:left;
}

#liveIng {
	background-color:#A9A9A9;
	border:5px black;
	width:230px;
	text-align:center;
}

#content {
	padding-top:0px;
}

.divider2 {
	margin-top:620px;
}

#selection {
background-color:yellow;
	float:left;
	width:530px;
	padding: 0 5px 0 0;
}
