@charset "UTF-8";
/* CSS Document */

/* CSS Specific to Build Taco Page */

#ingredients {
	width:250px;
	padding-left:0px;
	padding-right:5px;
	float:left;
}

#preview {
	width:260px;
	padding-left:5px;
	padding-right:5px;
	float:left;
}

#order {
	background-color:#F7A11A;
	width:255px;
	height:600px;
	padding-left:5px;
	padding-right:0px;
	float:left;
	border:2px solid black;
	border-radius:5px;
	
}

#content {
	padding-top:0px;
}

.divider2 {
	margin-top:620px;
}

#selection {
	float:left;
	width:530px;
	padding: 0 5px 0 0;
}

#qtyAdd {
	margin-top:275px;
	text-align:center;
}

#currentOrder {
	text-align:center;
	padding-top:4px;
}

#checkOutBorder {
	background-color:#fabf64;
	border: 1px solid black;
	border-radius:5px;
	margin-left:23px;
	margin-top:535px;
	width:200px;
	height:33px;
}
